.box__oferecer{
    align-self: flex-start;
    /* margin-top: 4rem; */
}
.titulo__corpo{
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 1.5rem;
}
.pesquisa__sair{
    padding: .5rem 3rem;
    border-radius: 5px;
    box-shadow: var(--cor-sombra-botao);
    background-color: transparent;
    border: solid 1px var(--cor-borda-simples);
    background-image: url("icons/procurar.svg");
    background-repeat: no-repeat;
    background-position: .5rem;
}
.pesquisa__sair::placeholder{
   font-size: 12px;
   text-align: center;
}
.botao__localizacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    cursor: pointer;
    padding-top: 1.5rem;
}
