.box__perfil--opcoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
} 



.secao__perfil-opcoes{
    display: flex;
    gap: 5rem;
    padding-bottom: 2rem;
    
}

.box__lista-perfil-opcoes{
    border-top: solid 1px var(--cor-borda-simples);;
    padding-top: 2rem;
}
.lista__perfil-opcoes{
    padding-bottom: 4rem;
}
.texto__lista-perfil-opcoes{
   color: var(--branco-simples);

}
.box__rodape-perfil-opcoes{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
  
}
.btn__header-link{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
    padding: 0 .3rem;

}