.container-criarConta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:.6rem
}
.img-logo-criar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.setaES{
    background: transparent;
    cursor: pointer;
    margin-top: 1.8rem;
    margin-left: 1rem;
    border: none;

}
.email-criar {
    
    background: #0A0A0A;
    border: 1px solid var(--branco-simples);
    border-radius: 5px;
    padding: .4rem 0;
    padding-right: 4rem;
    padding-left: .3rem;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;

    
}
.botao-continuar{
    padding: .3rem 3rem;
    margin-top: 1rem;
    box-shadow: var(--cor-sombra-botao);
    color: var(--preto-principal);
    background-color: var(--branco-principal);
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.login{
    font-size: 12px;
}
.botao-continuar--login{
    background: transparent;
    color: var(--cor-principal);
    border: none;
    cursor: pointer;

}
.footerInformacoes{
    margin-top: 3rem;
    text-align: justify;
}

