

  .formNomeData .error-messageData {
    font-size: 9pt;
    padding: 5px 0;
    color: var(--error-color);
    font-style: italic;
    display: none;
  }

  .formNomeData .show-error-messageData .error-messageData {
    display: block;
  }

  .formNomeData .show-error-messageData input[type] {
    border-color: var(--error-color);
  }
  .Data {
    
    background: #0A0A0A;
    border: 1px solid var(--branco-simples);
    border-radius: 5px;
    padding: .4rem 1rem;
    
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin-top: .6rem;
}
.Datalabel{
    font-size: 12px;
    color: var(--branco-simples);
    margin: .4rem;
    display: block;
}
.Data:focus-within{
    border: 1px solid var(--cor-principal);
    outline: none;
}