.container-criarConta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:.6rem
}
.img-logo-criar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.setaES{
    background: transparent;
    cursor: pointer;
    margin-top: 1.8rem;
    margin-left: 1rem;
    border: none;

}
.email-criar {
    
    background: #0A0A0A;
    border: 1px solid var(--branco-simples);
    border-radius: 5px;
    padding: .4rem 0;
    width: 90%;
    padding-left: .3rem;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin-top: .6rem; 
}

.email-criar:focus-within{
    border: 1px solid var(--cor-principal);
    outline: none;
}

.email-criar--conta{
    text-align: center;
}
.error-message{
    font-size: 11px;
    padding: .2rem 0;
    color: var(--cor-error);
    font-style: italic;
    display: none;
}
.show-error-message .error-message{
    display: block;
}
.form .show-error-message input[type] {
    border-color: var(--cor-error);
}

.botao-continuar{
    padding: .3rem 3rem;
    margin-top: 1rem;
    box-shadow: var(--cor-sombra-botao);
    color: var(--preto-principal);
    background-color: var(--branco-principal);
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}
.botao-continuar:hover{
    background: var(--cor-principal);
    color: var(--preto-principal);
    transition: .2s;

}

.botao-continuar--login:hover{
    color: var(--branco-principal);
    transition: .2s;
}
.login{
    font-size: 12px;
    color: var(--branco-simples)
}
.botao-continuar--login{
    background: transparent;
    color: var(--cor-principal);
    border: none;
    cursor: pointer;

}
.footerInformacoes{
    margin-top: 3rem;
    text-align: justify;
    color: var(--branco-simples);
}

